<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %> 
    <title>My URLs - TinyApp</title>
  </head>

  <body>
    <!-- My URLs Page -->
    <% include ./partials/_header %>   <!-- Include the Top(Header) navigator -->
    <% include ./partials/_modal %>   <!-- Include the modal template and modal JS -->

    <main style="margin: 1em;">
      <h3>My URLs</h3>

      <table class="table">
        <thead>  
          <!-- URL list's table title -->
          <tr>
            <th>ShortURL</th>
            <th>LongURL</th>
            <th>Created Date</th>
            <th>Visted Times</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
        
          <!-- Display the URLs from userDatabase, the urls stored in the template variable `urls`-->
          <!-- Add two buttons: Edit and Delete -->
          <% for(let url in urls) { %>
            <tr>
              <td><%= url %></td>
              <td><%= urls[url]["longURL"] %></td>
              <td><%= urls[url]["date"] %></td>
              <td align="left"><%= urls[url]["visits"] %></td>
              <!-- modify the Edit form into the a href tag, more simple -->
              <td> <a href="/urls/<%= url %>"<button class="btn btn-outline-primary" type="hidden">Edit</button></a> </td>
              <!-- Add motheod delete override post -->
              <td> <form method="POST" action="/urls/<%= url %>?_method=DELETE">
                  <button class="btn btn-outline-danger" type="submit">Delete</button></form> </td>
            </tr>
          <% } %>

        </tbody>
      </table>

    </main>
  
  </body>
</html>
